*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}



.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image:url("amazon_logo.png") ;
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border :1px solid white
    
}

/**box 2 **/

.addfirst{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.addsecond{
    font-size: 1rem;
    margin-left: 3px;

    

}

.addicon{
    display: flex;
}

/**box 3**/

.navasearch{
    display: flex;
    background-color: #febd68;
    width: 620px;
    height: 35px;
    border-radius: 4px;
    justify-content:space-evenly ;
}

.navselect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 4px;
    border-top-right-radius: 0%;
   border-bottom-right-radius: 0%;
   border: none;
}

.navsearch{
    border-radius: 0%;
    padding: 7px;
    width: 100%;
    font-size: 1rem;
}

.searchicon{
    width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-right-radius: 4px;
   border-bottom-right-radius:4px;
   font-size: 1.2rem;
   background-color: #febd68;
   color: #0f1111;
}

.navasearch:hover{
    border: 2px solid #febd68;
    
}

/**box 4**/
.hello a{
    color: white;
}
.hello{
    font-size: 0.7rem;
    color:white;

}

.account{
    font-size: 0.85rem;
    color:white;
    font-weight: 700;
}

/**box 5**/

.return1{
    font-size: 0.7rem;
    color: #ffffff;
}

.order{

    font-size: 0.85rem;
    color: #ffffff;
}

/**box 6**/

.logo1{

    margin-left: 10px;
    display: flex;
    font-size: 30px;
    background-size: cover;

}

.cart{
    font-size: 0.85rem;
    margin-top: 14px;
    font-weight: 700;
}

/**pannal**/

.panal{

    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
   
    
    
   
   
}

.panalall{
    display: flex;
}

.all1{
    margin-left: 5px;
}

.panalopp p {
    display: inline;
    margin-left: 15px;

}

.panalopp{
    width: 70%;
    font-size: 0.85rem;
}

.panaldeals{
    font-size: 0.9rem;
    font-weight: 700;
}

/** hero section **/

.herosection{

    background-image: url("PC_hero-toyfiesta_toys-and-games_Unrec_1x._CB585407284_.jpg");
    background-size: cover;
    height:320px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.heromsg{
    background-color: #68b0ac;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 10px;
   
    
}

.heromsg a {
    color: #007185;

}

/** shop section **/

.shopsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e3f0ed;

}

a{
    text-decoration: none;
}

.box{

    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.imgbox{
    height: 310px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.boxcontain{
    margin-left: 1rem;
    margin-right: 1rem;
    

}

.boxcontain p {

    color: #007185;
}

/**footer**/
footer{
    margin-top: 15px;
}

.footpanal1{

    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem
}

.footpanal2{

    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;

}

ul a{

    display: block;
    font-size: 0.85rem;
    margin-top: 12px;
    color: #dddddd;
}

.footpanal3{
    background-color: #222f3d;
    color: #cccccc;
    border-top: 0.5px solid white;
    height: 70px;
    display:flex ;
    justify-content: center;
    align-items: center;

}

.logo3{
    background-image:url("amazon_logo.png") ;
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footpanal4{
    background-color: #0f1111;
    color: white;
   height: 80px;
   padding-top: 25px;
}

.op1{
    font-size: 0.7rem;
    text-align: center;

}

.op2{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;

}